@using SEDC.PizzaApp.Domain
@model Pizza
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Pizza", FormMethod.Post))
{
    <table border="0">
        <tr>
            <td>@Html.LabelFor(p => p.Name, new { @class = "form-label" })</td>
            <td>@Html.TextBoxFor(p => p.Name, new { @class = "form-label" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Description, new { @class = "form-label" })</td>
            <td>@Html.TextBoxFor(p => p.Description, new { @class = "form-label" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Price, new { @class = "form-label" })</td>
            <td>@Html.TextBoxFor(p => p.Price, new { @class = "form-label" })</td>
        </tr>
    </table>
    <br />
    <input value="Save" type="submit" />
}